.LeftPanel{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 20rem;
    height: 35rem;
    .ant-picker{
        border: 1px solid #ccc;
        width: 100%                                                                                      ;
        .ant-picker-clear{
            border-radius: 50%;
        }
    }
    .ant-tree-treenode{
        .ant-tree-checkbox-checked, .ant-tree-checkbox{
            .ant-tree-checkbox-inner{
                background-color: transparent;
                border-color: #fff;
            }
        }
    }
}