@import '~antd/dist/antd.less';
#root{
    width: 100vw;
    height: 100vh;
}
.esri-ui-manual-container, .esri-ui-manual-container>.esri-component{
    display: none;
}
.esri-ui-bottom-right{
    flex-direction: column;
    bottom: 75px;
    .esri-component{
        margin-top: 10px;
        margin-left: 0px;
    }
}